.listContainer {
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.downloadZipButton {
    margin: 0 0 10px 0;
}

.downloadZipButton:focus {
    outline: none;
}