html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropBackground {
  width: 36vw;
  height: 41vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  margin: 70px 5vw 0 5vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.dropArea {
  text-align: center;
  width: 34vw;
  height: 36vh;
  background-color: white;
  border-radius: 20px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
}

.dropArea:hover {
  text-decoration: none;
}

.arrowButton {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: rgb(0, 53, 82);
  background: linear-gradient(
    145deg,
    rgba(0, 53, 82, 1) 0%,
    rgba(0, 123, 191, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrowIcon {
  color: white;
  font-weight: bold;
  font-size: 45px;
}

.dropInfoLabel {
  color: rgb(15, 38, 140);
  font-weight: bolder;
  font-size: 30px;
  margin: 20px 0 0 0;
}

.formatsLabel {
  color: rgb(92, 91, 91);
  font-size: 16px;
  margin: 0;
}

.fileInput {
  display: none;
}

.optionsButton {
  position: absolute;
  top: 4%;
  right: 3%;
}

.optionsButton:focus {
  outline: none;
}

.listContainer {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.downloadZipButton {
  margin: 0 0 10px 0;
}

.downloadZipButton:focus {
  outline: none;
}

.listItem {
  text-align: center;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(198, 240, 255, 0.06) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  width: 40vh;
}

.spinnerContainer {
  margin: 0 10px 0 10px;
  color: rgba(235, 235, 235, 0.493);
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.convertedBack {
  background-color: rgba(0, 130, 219, 1);
  cursor: pointer;
}

.loadingBack {
  background-color: rgba(139, 139, 139, 0.25);
  cursor: default;
}

.itemLabel {
  text-align: left;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 21px;
  margin: 0;
}

.downloadButton {
  margin: 0;
  border: none;
  color: white;
  margin: 0 0 0 10px;
  padding: 20px;
  font-size: 20px;
}

.downloadButton:focus {
  outline: none;
}

.convertedDownloadBackground {
  background-color: rgba(0, 130, 219, 1);
  cursor: pointer;
}

.convertedDownloadBackground:hover {
  background-color: rgb(0, 142, 236);
  cursor: pointer;
}

.loadingDownloadBackground {
  background-color: rgba(139, 139, 139, 0.25);
}

.loadingDownloadBackground:hover {
  cursor: default;
}

.app {
  text-align: center;
}

.header {
  background: rgb(1, 57, 88);
  background: linear-gradient(
    142deg,
    rgba(1, 57, 88, 1) 0%,
    rgba(11, 23, 71, 1) 50%,
    rgba(8, 103, 156, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(26px + 2vmin);
  color: white;
}

.boxContainer {
  display: flex;
  flex-direction: column;
}

.topInfoLabel {
  margin: 120px 0 0 0;
}

.infoLabel {
  font-size: calc(1px + 2vmin);
  font-style: normal;
  font-weight: normal;
  margin: 2px;
}

.topLabel {
  margin: 2px 10px 20px 10px;
  padding: 2px;
}

.optionsContainer {
  padding: 10px;
}

.optionsContainer label {
  font-size: 18px;
}

.inputRow {
  text-align: left;
  margin: 0 0 0 20px;
}

.checkBoxOption {
  margin-right: 10px;
}

.rangeOption {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
  width: 130px;
}

.radioOption {
  margin: 0 12px 0 0;
}

.selectOption {
  text-align: left;
  margin: 0 0 0 12px;
}

.hideOption {
  display: none;
}
